
body{
    background: cornflowerblue;
    height: 100vh;
    margin:0;


}
header h1{

    width: max-content;
    font-size: 4em;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    border-top: 10px solid rgb(255, 251, 147);

}

.background{


}
#photo_bored{
    /*border: 3px solid deeppink;*/

    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    align-content: space-between;
    /*background-color: crimson;*/
    margin: 0 auto;

}

.photo_div{
   max-width:30%;
    padding-bottom: 10px;
    padding-left: 10px;


}

img{
    width: 100%;
    height:66.66% ;

    /*max-height: 1%;*/


    border: 3px solid black;
    border-radius: 10px;


}

@media (max-width: 918px) {
 #photo_bored {


        width: 100%;
    }
    .photo_div {
        max-width:70%;
        padding-bottom: 10px;
        padding-left: 10px;
    }


    img{
        width: 100%;
        border: 3px solid black;
        border-radius: 10px;


    }

}

img:hover{
    box-shadow: 10px 10px 10px rgb(255, 251, 147);

}

